body {
    background-image:url(../blue_checker.jpg);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

main {
    flex: 1;
}

header {
    border: 4px solid rgb(160, 200, 216); 
    background-color: #fff; 
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;

}

button {
    background-color: rgb(251, 255, 0);
    color: black;
    border: solid yellow;
    border-radius: 12px;
    margin-top: 5%;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

#quoteDisplay {
    padding-top: 3.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

img {
    display:flex;
    width: 30%;
    height: auto;
    border: 4px solid rgb(160, 200, 216);
    justify-content: flex-start;
}

footer {
    height: 10vh;
    width: auto;
}

.ron {
    background-color: RGB(223,63,50);
    color: white;
    border: solid RGB(230,63,50);
    border-radius: 12px;
    margin-top: 5%;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}